@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 22 22 22;
    --background-secondary: 30 31 34;
    --background-tertiary: 30 31 34;

    /* --modifier-selected: var(--foreground);
    --modifier-hover: 53 55 60;
    --modifier-active: 59 61 68; */

    --foreground: 219 219 220;

    --card: 49 51 56;
    --card-foreground: 255 255 255;

    --popover: 17 18 20;
    --popover-foreground: var(--foreground);

    --primary: 88 101 242;
    --primary-foreground: 148 156 247;
    /* --primary-foreground: 255 255 255; */

    --secondary: 51 51 51;
    --secondary-foreground: 255 255 255;

    --muted: 51 51 51;
    --muted-foreground: 164 164 164;

    --input: var(--background-secondary);
    --input-form: 30 31 34;

    --channel-icon: 128 132 142;

    --destructive: 237 66 69;
    --success: 36 128 70;

    --interactive-normal: 181 186 193;
    --interactive-muted: 78 80 88;
    --interactive-hover: 219 222 225;
    --interactive-active: 255 255 255;
  }
}

.scrolltheme {
  background-color: yellow
}

.os-scrollbar-handle {
  background-color: rgb(var(--foreground) / 20%);
}

.os-scrollbar-handle:hover {
  background-color: rgb(var(--foreground) / 30%);
}

@layer base {
  * {
    @apply border-muted-foreground;
  }

  html {
    @apply size-full flex-1 scroll-smooth;
  }
  body {
    @apply bg-background text-primary;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
