@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-default: var(--font-geist-sans);

    --background: 49 51 56;
    --background-secondary: 43 45 49;
    --background-tertiary: 30 31 34;

    --foreground: 219 219 220;

    --card: 49 51 56;
    --card-foreground: 255 255 255;

    --popover: 17 18 20;
    --popover-foreground: var(--foreground);

    --primary: 88 101 242;
    --primary-foreground: 148 156 247;

    --secondary: 51 51 51;
    --secondary-foreground: 255 255 255;

    --muted: 51 51 51;
    --muted-foreground: 164 164 164;

    --input: 56 58 64;
    --input-form: 30 31 34;

    --channel-icon: 128 132 142;

    --destructive: 237 66 69;
    --success: 36 128 70;

    --border: var(--muted-foreground);
    --interactive-normal: 181 186 193;
    --interactive-muted: 78 80 88;
    --interactive-hover: 219 222 225;
    --interactive-active: 255 255 255;
  }
}

.scrolltheme {
  background-color: yellow;
}

.os-scrollbar-handle {
  background-color: rgb(var(--foreground) / 20%);
}

.os-scrollbar-handle:hover {
  background-color: rgb(var(--foreground) / 30%);
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply size-full flex-1 scroll-smooth;
  }

  html[data-theme='default'] {
    --font-default: var(--font-geist-sans);
  }

  html[data-theme='terminal'] {
    --font-default: var(--font-geist-mono);
    --background: 20 20 20;
    --background-secondary: 29 29 29;

    --foreground: 222 222 222;
    --muted: 72 72 72;
    --muted-foreground: 128 128 128;

    --border: 48 48 48;

    --destructive: 195 104 134;

    --interactive-hover: 122 122 122;
    --interactive-active: 190 190 190;
    --interactive-normal: 116 116 116;
    --interactive-muted: 72 72 72;

    --channel-icon: 128 128 128;

    --primary: 149 119 199;

    font-weight: 300;
    letter-spacing: -0.05ch;
  }

  body {
    @apply bg-background font-[var(--font-default)] text-primary;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

.grad {
  --bg: rgb(99 102 241);
  --bg-light: rgb(165 180 252);
  background:
    linear-gradient(var(--bg), var(--bg)) padding-box,
    linear-gradient(var(--bg), var(--bg-light) 75%, transparent 100%) border-box;
  @apply before:absolute before:left-0 before:top-0 before:size-full before:rounded-full before:bg-[rgb(30,41,59)] before:blur-[12px] before:content-[""];
}
/* 
.grad::before {
  background:
    linear-gradient(#a855f7, #a855f7) padding-box,
    linear-gradient(#a855f7, #e9d5ff 75%, transparent 100%) border-box;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .thin-scrollbar::-webkit-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgb(var(--background-tertiary)) rgb(var(--background-tertiary) / 10%);
  }

  .thin-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgb(var(--background-tertiary)) rgb(var(--background-tertiary) / 10%);
  }
}

@keyframes nothern-lights {
  from {
    background-position:
      50% 50%,
      50% 50%;
  }
  to {
    background-position:
      350% 50%,
      350% 50%;
  }
}

.nothern-lights {
  --stripes: repeating-linear-gradient(
    100deg,
    rgb(var(--background-tertiary)) 0%,
    rgb(var(--background-tertiary)) 7%,
    transparent 10%,
    transparent 12%,
    rgb(var(--background-tertiary)) 16%
  );

  --rainbow: repeating-linear-gradient(
    100deg,
    #818cf8 10%,
    #e879f9 15%,
    #818cf8 20%,
    #5eead4 25%,
    #818cf8 30%
  );
  filter: blur(10px) opacity(50%) saturate(200%);
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position:
    50% 50%,
    50% 50%;

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

  pointer-events: none;
}

.nothern-lights::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: nothern-lights 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}
