@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 49 51 56;
    --background-secondary: 43 45 49;
    --background-tertiary: 30 31 34;

    --modifier-selected: 64 66 73;
    --modifier-hover: 53 55 60;
    --modifier-active: 59 61 68;

    --foreground: 219 219 220;

    --card: 49 51 56;
    --card-foreground: 255 255 255;

    --primary: 99 102 241;
    --primary-foreground: 255 255 255;

    --secondary: 51 51 51;
    --secondary-foreground: 255 255 255;

    --muted: 51 51 51;
    --muted-foreground: 164 164 164;

    --input: 63 63 70;
    --input-form: 30 31 34;

    --channel-icon: 128 132 142;

    --interactive-normal: 181 186 193;
    --interactive-muted: 78 80 88;
    --interactive-hover: 219 222 225;
    --interactive-active: 255 255 255;
  }
}

@layer base {
  * {
    @apply border-muted-foreground;
  }

  html {
    @apply size-full flex-1 scroll-smooth;
  }
  body {
    @apply bg-background text-primary;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
